<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <header>
        <div class="logo">
            <a href="/">Logo</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
            <a href="/basic_cal">Basic Calculator</a>
            <a href="/salary_cal">Salary Calculator</a>
        </nav>
    </header>

    <div class="main-section">
        <div class="text">
            <h1>Welcome To Our Online Calculator</h1>
            <!-----------------Santi Description------------------>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida fringilla massa, nec tristique magna placerat ut.</p>
            <a href="/about" class="cta-btn">Learn More About Us</a>
        </div>
        
    </div>

</body>
</html>
